* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

#titulo-pagina{
    text-align: center;
    margin: revert;
}

#btn-add-cadastros{
    
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    padding: .5rem;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

main {
    background-size: cover;
    height: 92vh;
}

#nav-list {
    list-style: none;
    display: flex;
}

#btn-mobile{
    display: none;
}


#nav-list li {
    position: relative;
    display: inline;
    gap: .5rem;
    margin-left: 32px;
}

#menu li ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#23232e;;
    display:none;
}

#menu li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

#menu li:hover ul, #menu li.over ul{
    display: block;
}

#menu li ul li{
    display:block;
    width:150px;
}


#rodape {
    flex-shrink: 0 ;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    color: #fff;
    height: 8vh;
    text-align: center;
    align-items: center;
}

@media(max-width:600px){
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #23232e;
        height: 0px;
        transition: .3s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav-list.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
        border: 1px solid red;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #fff;
    }

    #btn-mobile{
        color: #fff;
        display: flex;
        padding: .5rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburguer{
        border-top: 2px solid;
        width: 20px;
    }
    
    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        display: block;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav-list.active #hamburguer {
        border-top-color: transparent;
    }

    #nav-list.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav-list.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;    
    }
}

