{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  {% block titulo %}
  <title>Template Modelo</title>
  {% endblock %}

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
  <body>
      <header>
        {% block menu %}
          <nav id="nav-list">
              <a href="{% url 'home' %}" class="href" >PyDjango</a>
              <button id="btn-mobile" aria-label="Abrir Menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
                <span id="hamburguer"></span>
              </button>
              <ul id="menu" role="menu">
                  <li><a href="{% url 'home' %}">Início</a></li>
                  
                  {% if request.user.is_authenticated %}
                  <li>
                    <a href="#">Cadastros</a>
                    <ul>
                      <li>
                        <a href="{% url 'cadastrar-campo' %}">
                          <i>Campo</i>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'cadastrar-atividade' %}">
                          <i>Atividades</i>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'cadastrar-status' %}">
                          <i>Status</i>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'cadastrar-classe' %}">
                          <i>Classes</i>
                        </a>  
                      </li>
                      <li>
                        <a href="{% url 'cadastrar-campus' %}">
                          <i>Campus</i>
                        </a>  
                      </li>
                    </ul>                                      
                  </li>
                  {% endif %}

                  <li><a href="#">Contato</a></li>
                  <li><a href="{% url 'sobre' %}">Sobre</a></li>
                  
                  {% if request.user.is_authenticated %}
                  <li><a href="{% url 'home' %}">{{request.user}}</a>
                    <ul>
                      <li>
                        <a href="{% url 'cadastrar-campo' %}">
                          <i>Meus Dados</i>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'cadastrar-atividade' %}">
                          <i>Alterar Senha</i>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'logout' %}">
                          <i>Sair</i>
                        </a>
                      </li>
                    </ul>   
                  </li>
                  {% else %}
                  <li>
                    <a href="{% url 'login' %}">
                      <i>Login</i>
                    </a>
                  </li>
                  {% endif %}

              </ul>
          </nav>
        {% endblock %}
      </header>     

      <main>
        {% block conteudo %}
          <div>
            <h3>Template Modelo</h3>

          </div>
        {% endblock %}
      </main>

      <footer id="rodape">
        <a href="/">by Ebenézer Cavalcante</a>      
      </footer>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>