{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  {% block titulo %}
  <title>Template Modelo</title>
  {% endblock %}

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
  <body>
      <header>
        {% block menu %}
          <nav id="nav-list">
              <a href="{% url 'home' %}" class="href" >PyDjango</a>
              <button id="btn-mobile" aria-label="Abrir Menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
                <span id="hamburguer"></span>
              </button>

              <ul id="menu" role="menu">
                  <li><a href="{% url 'home' %}">Início</a></li>
                  <li><a href="{% url 'sobre' %}">Sobre</a></li>
                  <li><a href="/">Projetos</a></li>
                  <li><a href="/">Contato</a></li>
              </ul>
          </nav>
        {% endblock %}
      </header>     

      <main>
        {% block conteudo %}
          <div>
            <h3>Template Modelo</h3>

          </div>
        {% endblock %}
      </main>

      <footer id="rodape">
        <a href="/">by Ebenézer Cavalcante</a>      
      </footer>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>