{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  {% block titulo %}
  <title>Template Modelo</title>
  {% endblock %}

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
  <body>
      <header>
          <nav id="nav-list">
              <a href="#" class="href">PyDjango</a>
              <button id="btn-mobile">MENU</button>

              <ul id="menu">
                  <li><a href="/">Início</a></li>
                  <li><a href="/">Sobre</a></li>
                  <li><a href="/">Projetos</a></li>
                  <li><a href="/">Contato</a></li>
              </ul>
          </nav>
      </header>
      <main></main>
      <script src="{% static 'js/modelo.js' %}"></script>
  </body>
</html>