{% extends 'paginas/modelo.html' %}
{% load static %}

{% block conteudo %}
<h3 id="titulo-pagina">Lista de Campos Registrados</h3>
<a href="{% url 'cadastrar-campus' %}" id="btn-add-cadastros" class="btn btn-primary btn-sm">Adcionar Campo</a>
<hr>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Cidade</th>
                <th>Telefone</th>
                <th>Opções</th>
            </tr>
            {% for campus in object_list %}
            <tr>
                <td>{{ campus.cidade }}</td>
                <td>{{ campus.telefone }}</td>
                <td>
                    <a href="{% url 'editar-campus' campus.pk %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'excluir-campus' campus.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum campo Registrado</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}