{% extends 'paginas/modelo.html' %}
{% load static %}

{% block conteudo %}
<h3 id="titulo-pagina">Lista de Classes</h3>
<a href="{% url 'cadastrar-classe' %}" id="btn-add-cadastros" class="btn btn-primary btn-sm">Adcionar Campo</a>
<hr>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Nível</th>
                <th>Descrição</th>
                <th>Opções</th>
            </tr>
            {% for classe in object_list %}
            <tr>
                <td>{{ classe.nome }}</td>
                <td>{{ classe.nivel }}</td>
                <td>{{ classe.descricao }}</td>
                <td>
                    <a href="{% url 'editar-classe' classe.pk %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'excluir-classe' classe.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhuma Classe Registrada</td>
            </tr>
            {% endfor %}
        </table>
        <div>
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Voltar</a>
            {% endif %}
    
            <span>Pagina: {{page_obj.number}}</span>
    
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Próxima</a>
            {% endif %}    
        </div>
    </div>
</div>
{% endblock %}