{% extends 'paginas/modelo.html' %}
{% load static %}

{% block conteudo %}
<h3>Lista de Atividades Registradas</h3>
<a href="{% url 'cadastrar-atividade' %}" style="color:rgb(8, 170, 62)">Adcionar Atividade</a>
<br>
<div class="table-responsive">
    <table class="">
        <tr>
            <th>Número</th>
            <th>Descrição</th>
            <th>Pontuação</th>
            <th>Detalhe</th>
            <th>Opções</th>
        </tr>

        {% for status in object_list %}
        <tr>
            <td>{{status.numero}}</td>
            <td>{{status.descricao}}</td>
            <td>{{status.detalhes}}</td>
            <td>{{status.pontos}}</td>
            <td>
                <a href="{% url 'editar-atividade' status.pk %}" class="" title="Editar" style="color: green;">Editar</a>
                <a href="{% url 'excluir-atividade' status.pk %}"class="" title="Editar" style="color: red;">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}